[Unit]
Description=My pulse audiotest service
After=multi-user.target
[Service]
Type=simple
Restart=always
RestartSec=15
ExecStart=/usr/bin/python3 /home/knoldus/pulseaudiologs.py
StandardOutput=append:/var/log/test/Output.log
StandardError=append:/var/log/test/Error.log
[Install]
WantedBy=multi-user.target

